.places {
    margin: 92px auto 0 11.6%;
    width: 76.8%;
    color: white;
}
@media (max-width: 1280px) {
    .places {
        width: 76.8%;
    }
}

@media (max-width: 1279px) and (min-width: 1024px) {
    .places {
        margin: 92px auto 0 4.2%;
        width: 90.6%;
    }
}

@media (max-width: 1023px) and (min-width: 321px) {
    .places {
        margin: 88px auto 0 3.1%;
        width: 93.8%;
    }
}

@media (max-width: 320px) {
    .places {
        margin: 64px auto 0;
        width: 100%;
    }
}