.header {
    margin: 28px 48px 0;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1280px) {
    .header {
        margin: 28px 48px 0;
    }
}

@media (max-width: 1279px) and (min-width: 1024px) {
    .header {
        margin: 28px 48px 0;
    }
}

@media (max-width: 1024px) and (min-width: 855px) {
    .header {
        margin: 28px 4.2vw 0;
    }
}

@media (max-width: 855px) and (min-width: 811px) {
    .header {
        margin: 28px 3.6vw 0;
    }
}

@media (max-width: 811px) and (min-width: 768px) {
    .header {
        margin: 28px 3.125vw 0;
    }
}

@media (max-width: 768px) and (min-width: 560px) {
    .header {
        margin: 28px 3.9vw 0;
    }
}

@media (max-width: 559px) {
    .header {
        margin: 5vw 5vw 0;
    }
}