.place__text {
    grid-area: text;
}

@media (max-width: 530px) and (min-width: 321px) {
    .place__text {
        margin: 32px 0 0;
    }
}

@media (max-width: 320px) {
    .place__text {
        margin: 32px 3.75% 0;
    }
}