.lead__title {
    margin: 0;
    width: 720px;
    text-align: center;
    font-size: 96px;
    font-weight: 900;
    line-height: 104%;
}
@media (min-width: 1280px) {
    .lead__title {
        font-size: 96px;
    }
}

@media (max-width: 1279px) and (min-width: 768px) {
    .lead__title {
        font-size: 96px;
    }
}

@media (max-width: 768px) and (min-width: 600px) {
    .lead__title {
        font-size: 12.5vw;
        width: 92%;
    }
}

@media (max-width: 600px) {
    .lead__title {
        font-size: 12.5vw;
        width: 90%;
    }
}

