.cover__background {
    margin: 0;
    position: relative;
    top: 0;
    height: 57.85vw;
    background-image: url('/../images/transsib.png');
    background-size: cover;
    background-position: center;
    margin-bottom: -38.6vw;
    opacity: .7;
    z-index: -1;
}
.cover__background:hover {
    opacity: .2;
}