.intro__title {
  margin: 0;
  font-size: 54px;
  font-weight: 900;
  line-height: 107%;
}

@media (min-width: 1280px) {
  .intro__title {
    font-size: 54px;
  }
}

@media (max-width: 1279px) and (min-width: 540px) {
    .intro__title {
        font-size: 54px;
    }
}

@media (max-width: 540px) {
    .intro__title {
        font-size: 10vw;
    }
}

